@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .scroll-shadow {
        --shadow-height: theme(spacing.5);
        --scrollbar-width: 8px;
        mask-image: linear-gradient(to bottom,transparent,#000 var(--shadow-height),#000 calc(100% - var(--shadow-height)),transparent 100%),linear-gradient(to left,#fff var(--scrollbar-width),transparent var(--scrollbar-width));
    }
}

@layer base {
    :root {
        --background: 48 33.33% 97.06%;
        --foreground: 48 19.61% 20%;
        --card: 48 33.33% 97.06%;
        --card-foreground: 60 2.56% 7.65%;
        --popover: 0 0% 100%;
        --popover-foreground: 50.77 19.40% 13.14%;
        --primary: 15.11 55.56% 52.35%;
        --primary-foreground: 0 0% 100%;
        --secondary: 46.15 22.81% 88.82%;
        --secondary-foreground: 50.77 8.50% 30.00%;
        --muted: 44.00 29.41% 90%;
        --muted-foreground: 50.00 2.36% 50.20%;
        --accent: 46.15 22.81% 88.82%;
        --accent-foreground: 50.77 19.40% 13.14%;
        --destructive: 60 2.56% 7.65%;
        --destructive-foreground: 0 0% 100%;
        --border: 50 7.50% 84.31%;
        --input: 50.77 7.98% 68.04%;
        --ring: 210 74.80% 49.80%;
        --chart-1: 18.28 57.14% 43.92%;
        --chart-2: 251.45 84.62% 74.51%;
        --chart-3: 46.15 28.26% 81.96%;
        --chart-4: 256.55 49.15% 88.43%;
        --chart-5: 17.78 60% 44.12%;
        --sidebar-background: 51.43 25.93% 94.71%;
        --sidebar-foreground: 60 2.52% 23.33%;
        --sidebar-primary: 15.11 55.56% 52.35%;
        --sidebar-primary-foreground: 0 0% 98.43%;
        --sidebar-accent: 46.15 22.81% 88.82%;
        --sidebar-accent-foreground: 0 0% 20.39%;
        --sidebar-border: 0 0% 92.16%;
        --sidebar-ring: 0 0% 70.98%;
        --radius: 0.625rem;
    }

    .dark {
        --background: 60 2.70% 14.51%;
        --foreground: 46.15 9.77% 73.92%;
        --card: 60 2.70% 14.51%;
        --card-foreground: 48 33.33% 97.06%;
        --popover: 60 2.13% 18.43%;
        --popover-foreground: 60 5.45% 89.22%;
        --primary: 14.77 63.11% 59.61%;
        --primary-foreground: 0 0% 100%;
        --secondary: 48 33.33% 97.06%;
        --secondary-foreground: 60 2.13% 18.43%;
        --muted: 60 3.85% 10.20%;
        --muted-foreground: 51.43 8.86% 69.02%;
        --accent: 48 10.64% 9.22%;
        --accent-foreground: 51.43 25.93% 94.71%;
        --destructive: 0 84.24% 60.20%;
        --destructive-foreground: 0 0% 100%;
        --border: 60 5.08% 23.14%;
        --input: 52.50 5.13% 30.59%;
        --ring: 210 74.80% 49.80%;
        --chart-1: 18.28 57.14% 43.92%;
        --chart-2: 251.45 84.62% 74.51%;
        --chart-3: 48 10.64% 9.22%;
        --chart-4: 248.28 25.22% 22.55%;
        --chart-5: 17.78 60% 44.12%;
        --sidebar-background: 30 3.33% 11.76%;
        --sidebar-foreground: 46.15 9.77% 73.92%;
        --sidebar-primary: 0 0% 20.39%;
        --sidebar-primary-foreground: 0 0% 98.43%;
        --sidebar-accent: 60 3.45% 5.69%;
        --sidebar-accent-foreground: 46.15 9.77% 73.92%;
        --sidebar-border: 0 0% 92.16%;
        --sidebar-ring: 0 0% 70.98%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        @apply scroll-smooth;
    }

    * {
        @apply accent-primary scrollbar-thin scrollbar-track-transparent scrollbar-thumb-border dark:scrollbar-track-transparent;
    }

    ::selection {
        background-color: hsl(var(--accent));
        color: hsl(var(--foreground));
    }

    .dark ::selection {
        background-color: hsl(var(--accent));
        color: hsl(var(--foreground));
    }
}

@media (prefers-reduced-motion: no-preference) {
    ::view-transition-new(theme-transition) {
        clip-path: inset(0 0 100% 0);
        animation: slide-in-from-top 0.65s forwards cubic-bezier(0.65, 0, 0.35, 1);
    }

    ::view-transition-old(theme-transition) {
        animation: none;
    }

    @keyframes slide-in-from-top {
        to {
            clip-path: inset(0 0 0 0);
        }
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply rounded-md bg-foreground/20 select-none animate-pulse;
    }

    .skeleton-bg {
        @apply bg-foreground/10;
    }

    .skeleton-div {
        @apply bg-foreground/20 animate-pulse;
    }
}

.ProseMirror {
    outline: none;
}

.cm-editor,
.cm-gutters {
    @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused>.cm-scroller>.cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
    @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
    @apply bg-transparent !important;
}

.cm-activeLine {
    @apply rounded-r-sm !important;
}

.cm-lineNumbers {
    @apply min-w-7;
}

.cm-foldGutter {
    @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
    @apply rounded-l-sm !important;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}

@theme inline {
    @keyframes shiny-text {

        0%,
        90%,
        100% {
            background-position: calc(-100% - var(--shiny-width)) 0;
        }

        30%,
        60% {
            background-position: calc(100% + var(--shiny-width)) 0;
        }
    }
}